<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>Name:</label>
        <input type="text" value="name" name="name">
        <label>Serial:</label>
        <input type="text" value="serial" name="serial">
        <label>Brand:</label>
        <input type="text" value="brand" name="brand">
        <label>Model:</label>
        <input type="text" value="model" name="model">
        <label>Price:</label>
        <input type="number" value="price" name="price">
    </form>
</body>
</html>